#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.tar
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
*.ll
modules.builtin
Module.symvers
*.dwo
*.su

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinux.32
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# tar directory (make tar*-pkg)
#
/tar-install/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# id-utils files
ID

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.pem
signing_key.priv
signing_key.x509
x509.genkey

# Kconfig presets
all.config

# Kdevelop4
*.kdev4

# kernel-out-files
out

# stic-server-files
迅雷下载

# stic-kernel-modules
drivers/stickernel

# stic-server-files2
优雅的舔逼ALL-迅雷下载

# stic-server-files3
drivers/迅雷下载/Papapa

# stic-server-video
download/pornhub-video/1080p
download/pornhub-video/1440p
download/pornhub-video/720p
download/pornhub-video/1080p60fps
download/pornhub-video/1440p60fps

# stic-baidupan-video
pandownloads

# stic-build-tools
sticbuild-kernel/build.sh

# stic-server-kernel
server_build.sh

# stic-phone-kernel
phone_build.sh

# xiaomi-msm8998-audio
techpack

# xiaomi-msm8998-clang
stic-clang/

# xiaomi-msm8998-gcc
stic-gcc/

# xiaomi-stic-blacklist
drivers/sticblacklist/

# fetched Android config fragments
android/configs/android-*.cfg
